<ion-content id="container" no-scroll padding>

  <div class="main">
    <div class="navContainer">
      <ion-item lines="none" 
          color="transparent">
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/app/farmacia/addresses"
            text=""
            class="navIconBtn">
          </ion-back-button>
        </ion-buttons>
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div> <!-- navContainer -->

    <div id="cardContent">

      <div>
        <h2> ENVIO </h2>
      </div>

      <div class="title">
        <ion-text class="titulo"> Agregar domicilio </ion-text>
      </div>

      <!-- Formulario de registro -->
      <form autocomplete="off"
      [formGroup]="formAddressData"
      (ngSubmit)="onAddAddress()">
       
      <ion-list class="list">
        <!-- Nombre --> 
        <ion-item class="item">
          <ion-input placeholder="Nombre y Apellido"
              name="name"                    
              type="text"
              inputmode="text"
              formControlName="name" > </ion-input>
        </ion-item>
        <!-- calle --> 
        <ion-item class="item">

          <input id="autoCompleteField"
            placeholder="Calle"
            type="text"
            inputmode="text"
          >
        </ion-item>
        <!-- Codigo Postal --> 
        <ion-item class="item">
          <ion-input placeholder="Codigo Postal"
              name="zipcode"                    
              type="text"
              inputmode="text"
              formControlName="zipcode" > </ion-input>
        </ion-item>
        <!-- Estado --> 
        <ion-item class="item">
          <ion-input placeholder="Estado"
              name="state"                    
              type="text"
              inputmode="text"
              formControlName="state" > </ion-input>
        </ion-item>
        <!-- Municipio --> 
        <ion-item class="item">
          <ion-input placeholder="Delegacion / Municipio"
              name="city"                    
              type="text"
              inputmode="text"
              formControlName="city" > </ion-input>
        </ion-item>
        <!-- Colonia --> 
        <ion-item class="item">
          <ion-input placeholder="Colonia / Asentamiento"
              name="neighborhood"                    
              type="text"
              inputmode="text"
              formControlName="neighborhood" > </ion-input>
        </ion-item>
        <!-- numero --> 
        <ion-item class="item">
          <ion-input placeholder="No. Interiro"
              name="number"                    
              type="text"
              inputmode="text"
              formControlName="number" > </ion-input>
        </ion-item>
        <!-- numeroint NO--> 
        <ion-item class="item">
          <ion-input placeholder="No. Exteriro / Depto (Opcional)"
              name="numeroint"                    
              type="text"
              inputmode="text"
               > </ion-input>
        </ion-item>
        <!-- entre calles NO--> 
        <ion-item class="item">
          <ion-input placeholder="Entre Calles (Opcional) "
              name="entre "                    
              type="text"
              inputmode="text"
              > </ion-input>
        </ion-item>

        <!-- Es tu Trabajo /Casa NO --> 
        <div class="home_job">

          <ion-label class="label">Es tu trabajo o casa ?</ion-label>
          
          <ion-radio-group  value="casa">
            
            <div class="home">
              <ion-radio mode="md" slot="start" value="casa"> Casa </ion-radio>
              <ion-label> Casa </ion-label>
            </div>
            
            <div class="job">
              <ion-radio mode="md" slot="start" value="trabajo"> Trabajo </ion-radio>
              <ion-label> Trabajo </ion-label>
            </div>
            
          </ion-radio-group>
          
        </div>
       
         <!-- telefono  NO --> 
         <ion-item class="item">
          <ion-input placeholder="Telefono de contacto"
              name="numero "                    
              type="number"
              inputmode="number" 
              >  </ion-input>
        </ion-item>
        
        <div class="tel-text">
          <ion-text>  Llamaran a este numero si hay algun problema con el envio</ion-text>
        </div>

        <div class="comments-txt">
          <ion-text>  Indicaciones adicionales para entregar tus comrpas en esta direccion </ion-text>
        </div>

        <ion-item>
          <ion-textarea formControlName="references" rows="6" cols="20" placeholder="Comentarios"></ion-textarea>
        </ion-item>

      </ion-list>

        <!-- submit button -->

        <div class="addAddresContainer">
          <ion-button class="btnSubmit"
          color="secondaryTUx"
          type="submit" 
          expand="block"
          shape="round" > 
          <ion-text class="btnTxt"> Continuar </ion-text>
        </ion-button>  
      </div>


      </form>


    </div> <!-- cardContent -->
     
      

  </div> <!-- main -->

</ion-content> 



