#logo{
    width: 50%;
    margin: auto;
}
#cardContent ion-input{
    font-size: 15px;
    --placeholder-color: #c1c1c1;
    letter-spacing: 1px;
}

#cardContent ion-item{
    --border-color: #00b3bc;
}

.list{
    width: 100%;
    padding:20px 0px 10px 0px;
}

.list ion-input{
    margin: 10px 0;
}

.home_job{
    padding: 25px 20px;
}

.home_job .label{
    padding:10px 0px;
    font-size: 15px;
    color: #c1c1c1;
    letter-spacing: 1px;
}
.home_job div{
    margin:5px 0px;
}
.addAddresContainer{
    width: 60%;
    margin: 15px auto;
}

.btnTxt{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 22px;
}

.tel-text{
    padding:0px 20px;
    font-size: 13px;
    color: #c1c1c1;
    letter-spacing: 1px;
}
.comments-txt{
    padding:20px 20px 0px 20px;
    color: blue;
}
#autoCompleteField{
    font-size: 15px;    
    letter-spacing: 1px;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
}

#autoCompleteField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c1c1c1;
    opacity: 1; /* Firefox */
  }
  
#autoCompleteField:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #c1c1c1;
}

#autoCompleteField::-ms-input-placeholder { /* Microsoft Edge */
color: #c1c1c1;
}