<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/app/consultas"
            text=""
            class="navIconBtn">
          </ion-back-button>
        </ion-buttons>
        
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
          
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>

    </div> <!-- navButtons -->
    
    <div id="cardContent">

      <h2> CONSULTAS </h2>
     
      <!-- content -->
      <div *ngIf="showSwitch" class="switch">

        <span class="switcher switcher-1">
          <input type="checkbox" id="switcher-1" [(ngModel)]="isVirtual"> 
          <label for="switcher-1"></label>
       </span>        
      </div>

      <ion-item class="addres-selector">
        <ion-label>Dirección</ion-label>
        <ion-select ok-text="OK" cancel-text="Cancelar" [(ngModel)]="selAddress" (ionChange)="selectedAddress()">
          <ion-select-option value="pinMap">Pin en el mapa</ion-select-option>
          <ion-select-option *ngFor="let addres of AddrList || async" [value]="addres._id" > {{ addres.name }} </ion-select-option>
        </ion-select>
      </ion-item>


      <!-- <input id="googleAuto"> -->

      <div class="map">
        <!-- <app-map *ngIf="(coordinates$|async) as coords" [coords]="coords" ></app-map> -->
        
        <div #mapa id="mapa" class="mapa"></div>
        
      </div>

      <ion-item></ion-item>

      <ion-item (click)="reqOrderNow(true)" detail> 
        <span class="icon-calendar" > </span>
        <ion-text> Agendar </ion-text>
      </ion-item>

        <ion-item class="slotCard" detail 
          [ngClass]="{'default' : userservice.defaultMethod.default_source }"
          (click)="changeMethod()">
  
          
            <span 
              class="iconBrand" 
              [ngClass]="{
                'Visa': userservice.defaultMethod.brand === 'Visa', 
                'MasterCard': userservice.defaultMethod.brand === 'MasterCard',
                'cash': userservice.defaultMethod.brand === 'cash'
              }"> </span>

            <div style="padding-bottom: 10px;" class="cardNumber" *ngIf="userservice.defaultMethod.last4"> <span> **** **** **** {{ userservice.defaultMethod.last4}} </span> </div>
            <div style="padding-bottom: 10px;" class="cardNumber" *ngIf="!userservice.defaultMethod.last4" > <span> Efectivo </span> </div>
   
          <!-- <span class="iconRight" slot="end" (click)="changeMethod()"> CAMBIAR </span> -->

      </ion-item>

      <ion-item detail>
        <ion-input [ngClass]="cuponValidationClass" class="cuponTxt" [(ngModel)]="cuponCode" placeholder="Cupon" type="text"></ion-input>
        <ion-text class="cuponVerificartxt ion-text-right" 
          (click)="validarCupon()"> Verificar </ion-text>
      </ion-item>

      <ion-button  class="reqBtn" 
        color="primaryTUx"
        expand="block"
        shape="round"
        (click)="reqOrderNow(false)"
        [disabled]="!isIncomming"> 
        <ion-text class="btnTxt"> Solicitar Ahora </ion-text> 
      </ion-button>   

      <!-- content -->
      
    </div>
    
  </div>
</ion-content> 



