#logo{
    width: 50%;
    margin: auto;
}
// contenido:
#avatar{
    width: 50%;
    height: 150px;
    width: 150px;
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}
#avatar ion-avatar{
    border:3px solid #00b3bc;
    width: 100%;
    height: 100%;
}
#cardContent{
    padding:100px 20px 20px 20px ;
    margin-bottom: 20px;
    transform: translateY(-75px);
}
.cardForm{
    margin-top: 30px;
}

.cardForm ion-grid{padding: 10px 0px 10px 0px }
.cardForm ion-col{padding: 0}
.cardForm ion-input{
    height: 55px;
    color: #909090;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
}

.cardNumber{
    vertical-align: middle;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    border:1px solid #c2c2c2;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #808080;
    height: 55px;
}



.cardDetail_left{
    float: left;
    width: 90%;
    border: 1px solid #c2c2c2; 
    border-radius: 5px;
    box-shadow: 2px 2px 5px #808080;
    height: 55px; 
}

.cardDetail_right{
    float: right;
    width: 90%;

    border: 1px solid #c2c2c2; 
    height: 65px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #808080; 
    height: 55px;
}

.icon-card{
    padding-left: 25px;
    padding-right: 25px;
    background: url('/assets/credit-card.svg') center no-repeat;
}

.buttonAddCard{
    width: 60%;
    margin: 0 auto;
}
.ux_button{
    position: fixed;
    box-shadow: 5px 5px 10px #808080; 
    width: 50%;
    bottom: 50px;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #03babe;
    color: #ffffff;
    padding-top: 7px;
}