<!-- <app-menu [menuHostId]="hostMenuId"
          [menuNameId]="nameMenuId"></app-menu>

<div [id]="hostMenuId"></div> -->
<app-menu></app-menu>
<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

        <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only" 
              name="menu-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          
          <div id="logo">
            <ion-img src="../../../assets/tidulogowhite_s.png"></ion-img>
          </div>
          
        <ion-buttons slot="end">
          <ion-button (click)="goHome()">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>

    </div> <!-- navButtons -->


    </div>
    </ion-content>