<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

        <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only" 
              name="menu-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          
          <div id="logo">
            <ion-img src="../../../assets/tidulogowhite_s.png"></ion-img>
          </div>
          
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>

    </div> <!-- navButtons -->

    <div id="avatar">
      <ion-avatar>
          <img [src]="userservice.usuario.imageUrl">
      </ion-avatar>

      <div class="edit" (click)="presentActionSheet()">
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </div>

    </div>
   
    <div id="cardContent">
      
      <div class="title">
        <ion-text class="titulo"> {{ userData.name }} </ion-text>
      </div>
      
      <img class="rating" src="../../../../../assets/Rating.svg" >
      
      <ion-list class="list">

        <ion-item></ion-item>

        <ion-item routerLink="/app/datosgenerales">
          <span class="iconDatos" >
          <ion-label> Datos generales </ion-label>
          </span>
        </ion-item>

        <ion-item routerLink="/app/alergias">
          <span class="iconAlergias" >
            <ion-label> Alergias </ion-label>
          </span>
        </ion-item>

        <ion-item routerLink="/app/historialmedico">
          <span class="iconHistorial" >
            <ion-label> Historial médico </ion-label>
          </span>
        </ion-item>

        <ion-item routerLink="/app/familiares">
          <span class="iconFamiliares" >
            <ion-label> Familiares </ion-label>
          </span>
        </ion-item>

        <ion-item routerLink="/app/metodopago">
          <span class="iconMetodos" >
            <ion-label> Métodos de pago </ion-label>
          </span>
        </ion-item>

        <ion-item routerLink="/app/farmacia/addresses">
          <span class="iconAddress" >
            <ion-label> Mis direcciones </ion-label>
          </span>
        </ion-item>

      </ion-list>
     
    </div>
  </div>


  
</ion-content> 