
//logo
#logo{
    width: 50%;
    margin: auto;
}
#cardContent .list{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 3rem}
#cardContent .list ion-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    color: #a6a6a6;
    padding-left: 15px;}
.reqBtn{
    font-size:20px;
    letter-spacing: 1.5pt;
    width: 60%;
    margin: auto;}
.reqBtn .btnTxt{
    color: #ffffff;
    font-weight: 100;}
    
