<ion-content id="container" no-scroll padding>

  <div class="layer" no-scroll >
    <div class="main ion-padding" >

      <div class="ion-text-center" id="logo">
        <ion-img src="../../assets/tidulogowhite.png"></ion-img>
        <ion-text class="slogan"> Bienestar para tu hogar </ion-text>
        <hr class="slogan-underline">
      </div>

      <div id="homeButtons">

        <ion-button class="homeButtons"
          color="secondaryTUx"
          routerLink="/login" 
          expand="block" 
          shape="round"> 
          <ion-text class="btnTxt"> Log In </ion-text> 
        </ion-button>
        
        <ion-button class="homeButtons"
          color="primaryTUx"
          routerLink="/register" 
          expand="block" 
          shape="round"> 
          <ion-text class="btnTxt"> Registrarse </ion-text>
        </ion-button>
        
        <p class="ion-text-center"> 
          Inicia sesión o regístrate <br> para continuar 
        </p>
      
      </div>
    </div>
  </div>
  
</ion-content>
  
