<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

          <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
              <ion-icon 
                class="navIconBtn"
                slot="icon-only" 
                name="menu-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
          
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>

    </div> <!-- navButtons -->
    
    <div id="cardContent"> 

      <h2> CONSULTAS </h2>

      <!-- content -->
      <div class="list">

        <ion-item class="fstItem"></ion-item>

        <ion-item detail (click)="reqNewOrder('1')">
          <span class="icon-scope" ></span>
          <ion-text> Consulta general </ion-text>
          
        </ion-item>

        <ion-item detail (click)="reqNewOrder('2')">
          <span class="icon-jeringa" ></span>
          <ion-text> Aplicación de medicamento </ion-text>
         
        </ion-item>

        <ion-item detail (click)="reqNewOrder('3')">
          <span class="icon-needle" ></span>
          <ion-text> Retiro de puntos </ion-text>
         
        </ion-item>

        <ion-item detail (click)="reqNewOrder('4')">
          <span class="icon-band" > </span>
          <ion-text> Heridas / curaciones </ion-text>
          
        </ion-item>

        <ion-item detail>
          <span class="icon-clock" > </span>
          <ion-text> Consultas agendadas </ion-text>
        </ion-item>


      </div>
      <!-- content -->
      
    </div>
    
  </div>
</ion-content> 



