//logo
#logo{
    width: 50%; 
    margin: auto;
}
//lista
#cardContent .list{
    padding: 10px;
    font-size: 16px;
}
#cardContent .list ion-item.fstItem{
    padding: 0px;
    margin: 0px;
}
#cardContent .list ion-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    color: #a6a6a6;
    padding-left: 15px;
}

//Iconos
.icon-band{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('/assets/consultas/BandAid.svg') center no-repeat;
    background-size: contain;}
.icon-scope{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('/assets/consultas/Stetoscope.svg') center no-repeat;
    background-size: contain;}
.icon-jeringa{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('/assets/consultas/Jeringa.svg') center no-repeat;
    background-size: contain;}
.icon-needle{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('/assets/consultas/Needle.svg') center no-repeat;
    background-size: contain;}
.icon-clock{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background: url('/assets/consultas/Clock.svg') center no-repeat;
    background-size: contain;}
