
//logo
#logo{
    width: 50%;
    margin: auto;
}


//lista
#cardContent .list{
    padding: 10px;
    font-size: 16px;
}
#cardContent .list ion-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    color: #a6a6a6;
    padding-left: 15px;
}

.reqBtn{
    font-size:20px;
    letter-spacing: 1pt;
    width: 60%;
    margin: 10px auto}
.reqBtn .btnTxt{
    color: #ffffff;
    font-weight: 100;}
