<ion-content id="container" no-scroll padding>

  <div class="main">
    <div class="navContainer">
      <ion-item lines="none" 
          color="transparent">
        <ion-buttons slot="start">
          <ion-button
          routerLink="/app/labs/labschedule">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="chevron-back-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div> <!-- navContainer -->

    <div id="cardContent">

      <div>
        <h2> ENVIO </h2>
      </div>

      <div class="title">
        <ion-text class="titulo"> Mis domicilios </ion-text>
      </div>

      <ion-list class="main-addres-list">
        <ion-text class="listSubTitle"> DIRECCION DE ENVIO </ion-text> 
        
        <ion-radio-group [(ngModel)]="selectedIDAddress" (ionChange)="changeAddress()"> 

          <ion-item *ngFor="let address of myAddresses || async ">
          <ion-radio mode="md" [value]="address._id"> </ion-radio>
          <div style="display: flex;">

            <div class="main-addresContainer">
              <div> {{address.street}}. No {{address.number}} </div>
              <div> Col. {{address.neighborhood}}, </div>
              <div> {{address.city}}, {{address.state}}, {{address.country}} </div>
              <div> CP. {{address.zipcode}} </div>
            </div>

            <div class="main-iconContainer">
                <ion-icon name="pencil-outline"> </ion-icon>
                <ion-text> Editar </ion-text>
            </div>

          </div>
        </ion-item>

      </ion-radio-group>

      </ion-list>

      <hr class="containerDivider">

      <ion-icon class="addAddress-ico" name="add"></ion-icon>
      <ion-text class="addAddress-txt" routerLink="/app/farmacia/addaddress"> Agregar domicilio </ion-text>


      <div class="buttonContainer">
        <div class="ux_button"
        (click)="labs_next()">
          <ion-text > Siguiente </ion-text>
        </div>
      </div>

    </div> <!-- cardContent -->
     
      

  </div> <!-- main -->

</ion-content> 



