#logo{
    width: 50%;
    margin: auto;
}
.reqBtn{
    font-size:20px;
    letter-spacing: 1.5pt;
    width: 60%;
    margin: auto;}
.reqBtn .btnTxt{
    color: #ffffff;
    font-weight: 100;}

.timePick{
    font-size: 20px;
    color: #004d69;
    font-weight: 500;
    margin-bottom: 20px;
}
    