div.divider hr{
    width: 200%;
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
    background-color: grey;
    box-shadow: 0px -1px 4px grey;
    position: relative;
    left: -50px;
}
.chat{
    width: 100%;
}
.sender{
    padding:10px;
    font-size: 12px;
    width: 75%;
    text-align: right;
    float: right;
    color:white;
    background-color: #00b4bd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px 5px;
}
.addressee{
    padding:10px;
    font-size: 12px;
    width: 75%;
    text-align: left;
    float: left;
    color:white;
    background-color: #004d69;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px 5px;
}

.chatbox{
    width: 100%;
}
.chatbox ion-textarea{
    border: 1px solid #004d69;
    border-radius: 10px;
    padding: 5px;
    color: #000000;
    background-color: #f1f1f1;
}

.chatbox ion-icon{
    height: 100%;
    margin: 0 5px;
    color: #00b4bd;
}
