<ion-content id="container" no-scroll padding>

  <div class="main">
    
    <div class="navContainer">
      <ion-item lines="none" 
          color="transparent">
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/app/consultas"
            text=""
            class="navIconBtn">
          </ion-back-button>
        </ion-buttons>
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div> <!-- navContainer -->

    <div id="cardContent">

      <h2> Title </h2>

      <div class="title">
        <ion-text class="titulo"> Subtitle </ion-text>
        <div class="underline"> <hr> </div>
      </div>
     
    </div> <!-- cardContent -->
  </div> <!-- main -->>

</ion-content> 



