<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/app/perfil"
            text=""
            class="navIconBtn">
            </ion-back-button>
          </ion-buttons>
          
          <div id="logo">
            <ion-img src="../../../assets/tidulogowhite_s.png"></ion-img>
          </div>
          
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
        
      </ion-item>

    </div> <!-- navButtons -->

    <div id="avatar">
      <ion-avatar>
          <img [src]="imgAvatar">
      </ion-avatar>
    </div>

    <ion-text id="editSpan" 
      color="primaryTUx"
      (click)="edit()"> {{ edit_save }} </ion-text>

    
    <div id="cardContent">
      
      <div class="title">
        <ion-text class="titulo"> Datos Generales </ion-text>
        <div class="underline"> <hr> </div>  
      </div>

      <ion-list class="list">

        <!-- Editar -->
        <!-- <ion-item>
          <div class="dataRow">

            <div class="left">
              <span> dato </span>
            </div>

            <div *ngIf="!isEdit" class="right">
              <span> {{nombre}} </span>
            </div>

            <div *ngIf="isEdit" class="right inputs">
              <input [(ngModel)]="nombre"> 
            </div>

          </div>
        </ion-item> -->
        <!-- Editar -->

        <ion-item >
          <div class="dataRow">
            <span class="left"> Edad </span>
            <span *ngIf="userData.birthday" class="right"> {{ edad }}  </span>
            <span *ngIf="!userData.birthday" class="right"class="right"> --  </span> 
          </div>
        </ion-item>

        <ion-item >
          <div class="dataRow">
            <span class="left"> Genero </span>
            <span class="right"> {{ userData.gender || '--' }}  </span>
          </div>
        </ion-item>

        <ion-item >
          <div class="dataRow">
            <span class="left"> Peso </span>
            <span *ngIf="userData.weight" class="right"> Kg &nbsp; </span>
            <span class="right"> {{ userData.weight  || '--' }}  </span>
          </div>
        </ion-item>

        <ion-item >
          <div class="dataRow">
            <span class="left"> Altura </span>
            <span *ngIf="userData.height" class="right"> m &nbsp; </span>
            <span class="right"> {{ userData.height || '--' }}  </span>
          </div>
        </ion-item>

        <ion-item >
          <div class="dataRow">
            <span class="left"> Tipo de sangre </span>
            <span class="right"> {{ userData.bloodType || '--' }}  </span>
          </div>
        </ion-item>

      </ion-list>

     
      
    </div>
    
  </div>
</ion-content> 