
<!-- <app-menu [menuHostId]="hostMenuId"
          [menuNameId]="nameMenuId"></app-menu>

<div [id]="hostMenuId"></div> -->

<app-menu></app-menu>
<ion-router-outlet id="outletHome"></ion-router-outlet>

<ion-content id="container" no-scroll padding>

  <div class="main">

    <div class="navContainer">
      
      <ion-item 
          lines="none" 
          color="transparent">

        <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only" 
              name="menu-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- Este boton aqui no va -->
        <!-- <ion-buttons slot="end">
          <ion-button>
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        
      </ion-item>

    </div> <!-- navButtons -->

    <div id="logo">
      <ion-img src="../../../assets/tidulogowhite_s.png"></ion-img>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div 
            class="dialogBox ion-text-center"
            (click)="irA('Consultas')">
            <ion-img src="../../../assets/consultas.png"></ion-img>
            <ion-text  color="primaryTUx">
              Consultas
            </ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div 
            class="dialogBox ion-text-center"
            (click)="irA('Resacas')">
            <ion-img src="../../../assets/resacas.png"></ion-img>
            <ion-text  color="primaryTUx">
              Resacas
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div 
            class="dialogBox ion-text-center" 
            (click)="irA('Farmaica')">
            <ion-img src="../../../assets/farmacia.png"></ion-img>
            <ion-text  color="primaryTUx">
              Farmacia
            </ion-text>
          </div>
        </ion-col>
        <ion-col>
          <div 
            class="dialogBox ion-text-center"
            (click)="irA('Lab')">
            <ion-img src="../../../assets/laboratorio.png"></ion-img>
            <ion-text  color="primaryTUx">
              Laboratorios
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
<!--     
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
   -->
  </div> <!-- main -->


 
</ion-content>
