
#logo{
    width: 60%;
    margin: auto;
}
#logo ion-img{
    padding-top: .5rem;
    padding-bottom: 2rem;
}

// Grid
.dialogBox{
    border:1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    width: 95%;
    height: 95%;
    padding: 10px;
    letter-spacing: 1px;
}
.dialogBox ion-img{
    height: 80%;
    // width: 100%;
    margin: auto;
}

 #homemapa{
     height: 430px;
     width: 100%;
     z-index: 100
 }