#logo{
    width: 50%;
    margin: auto;
}
.lleno{
    color: #77dd77;
}

.item-name{
    font-size: 20px;
}
.totals{
    font-size: 48px;
    font-weight: 300;
}
.ivaLabel{
    color: grey;
    position: relative;
    top: -10px;
    left: -5px;
    font-size: 12px;
}

.buttonAddCard{
    width: 60%;
    margin: 15px auto;
}
.ux_button{
    box-shadow: 5px 5px 10px #808080; 
    width: 100%;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #03babe;
    color: #ffffff;
    padding-top: 7px;
}

.ux_button_outline{
    box-shadow: 5px 5px 10px #808080; 
    width: 100%;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    border:1px solid #03babe;
    background-color: #ffffff;
    color: black;
    padding-top: 7px;
}
