#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cardContent{
    overflow: hidden;
}
//logo
#logo{
    width: 50%;
    margin: auto;
}
.subBody{
    color: grey;
}
// Contenedor detalles del producto
.product-item{
    height: 105px;
    padding: 5px;
    border-bottom: 1px solid #c1c1c1;
    display: flex;
    font-size: 12px;
}
// contenedor de la imagen
.product-thumb{
    height: 100%;
    width: 135px;
    margin-right: 15px;
}
// Contenedor general
.product-dtl{
    height: 100%;
    width: 100%;
    display: grid;
}
// contenedor Nombre e Icon-cart
.product-desc{
    width: 100%;
    padding-right: 20px;
}
.product-item .cart-icon{
    position: absolute;
    right: 0px;
    width: 20px;
    height: 20px;
    color: #00b3bc
}
// Contenedir del precio y cantidad
.produc-prc{
    width: 100%;
}
.item-price{
     font-weight: 600;
     font-size: 18px;
 }
.quantity{
    float: right;
    margin-right: 20px;
}

.add-icon{
    position: relative;
    top: -35px;
    left: 225px;
    font-size: 14px;
}

.totals{
    font-size: 40px;
    font-weight: 300;
}

.buttonAddCard{
    width: 60%;
    margin: 15px auto;
}
.ux_button{
    box-shadow: 5px 5px 10px #808080; 
    width: 100%;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #03babe;
    color: #ffffff;
    padding-top: 7px;
}

.priceDivider{
    margin-top: -1px;
    background-color: #7d7d7d;
    position: relative;
    left: -30px;
    width: 130%;
    box-shadow: 0px -1px 3px black;
    
}

.empty-cart{
    position: relative;
    left: 30px;
    top: -50px;
    width: 20px;
    height: 20px;
    color: red;
}
.listSubTitle{
    font-size: 13px;
    color: #d8d8d8;
    margin: 5px 10px;
    letter-spacing: 1px;
    font-family: monospace;
}
// tarjeta
div#cardContent .Visa{
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/visa_pay_m_cardicon_.png') center left no-repeat;
}
div#cardContent .MasterCard{
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/master_pay_m_cardicon_.png') center left no-repeat;
}
div#cardContent .cash{
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/cash_pay_m_cardicon_.png') center left no-repeat;
}
.slotCard{
    height: 65px;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    padding: 10px 0px 0px 0px;
}
.iconBrand{
    float: left;
    height: 100%;
    margin-bottom: 10px;
    margin-left: -6px;
}
.cardNumber{
    float: left;
    height: 100%;
    vertical-align: middle;
    margin-left: 20px;
    padding-top: 16px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.iconRight{
    height: 100%;
    float: right;
    font-size: 10px;
    color: #04bbbf;
}

.main-addresContainer{
  width: 90%;
  font-size: 13px; 
  color: #808080;
  padding:5px 20px;
}
.main-addresContainer div{
    padding: 1px 0;
  }
.main-iconContainer{
    color: #bdbdbd;
    font-size: 20px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address_divider_{
    padding-left: 20px;
}
.address_divider_ hr{
    background-color: #bdbdbd;
    width: 100%;
}

