<ion-content id="container" no-scroll padding>

  <div class="layer" no-scroll >
    <div class="main ion-padding" >

      <div class="ion-text-center" id="logo">
        <ion-img src="../../assets/tidulogowhite.png"></ion-img>
        <ion-text class="slogan"> Bienestar para tu hogar </ion-text>
        <hr class="slogan-underline">
      </div>

      <div id="verifyContent">

        <p class="ion-text-center"> 
          Por favor intoruce el correo electronico con el que te registraste.
        </p>

        <div class="input">
          <ion-item>
            <ion-input type="email" 
              placeholder="Correo electronico"
              [(ngModel)]="email" 
              id="inputEmail" 
              inputmode = "text"
              type = "email"
              >
            </ion-input>
          </ion-item>
        </div>
        <!-- (ionChange)="pinValidation($event.target.value)"  -->
        
        <ion-button  class="verifyButon"
          color="primaryTUx" 
          expand="block" 
          shape="round" 
          (click)="sendEmail()"> 

          <ion-text class="btnTxt"> Continuar </ion-text>

        </ion-button>

        <!-- <p (click)="codeResend()" class="ion-text-center resend"> 
          ¿No tienes el codigo? Reenviar 
        </p> -->
      
      </div>

    </div>
  </div>
  
</ion-content>
  



