:host ::ng-deep {
    .event-detail-container{
        display: none;
    }
    .monthview-container {
        height: auto !important
    }

    td.monthview-selected{
        // background-color: blue;
    }
}

.calendar{
    margin-top: 20px;
    margin-bottom: 20px;
}

