#agendaModal {
    --background: rgba(0, 77, 105, 0.96);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    padding: 35px;
}

.scheduler-event-hr{
    background-color: #fff;
    width: 100%;
}
ion-list{
    --ion-item-background: transparent
}