#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cardContent{
    overflow: hidden;
}
//logo
#logo{
    width: 50%;
    margin: auto;
}

.list{
    margin: 50px 0;
    
}

.list ion-item{
    padding: 5px;
    color: #c1c1c1;
}

.buttonContainer{
    position: relative;
    bottom: 20px;
    width: 60%;
    margin: 15px auto;
}

.ux_button{
    box-shadow: 5px 5px 10px #808080; 
    width: 100%;
    border-radius: 40px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #03babe;
    color: #ffffff;
    padding-top: 7px;
}