#container{}
.main{
    // margin-top: 40%;
}
#logo{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 30px;
}
form .item{
    margin-bottom: 1.0rem;
}
.fgtPwd{
    font-size: 12px;
    color: #a1a1a1;
    text-decoration: none;
}
.btnSubmit{
    font-size:20px;
    letter-spacing: 1.5pt;
    left: 16px;
    right: 16px;
    bottom: 2rem;
}
.btnTxt{
    color:#ffffff;
}
