#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    // margin-top: 40%;
}
#logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 30px;
}
form .item{
    margin-bottom: 1.0rem;
}
.fgtPwd{
    font-size: 12px;
    color: #a1a1a1;
    text-decoration: none;
}
.btnSubmit{
    font-size:20px;
    letter-spacing: 1.5pt;
    position: fixed;
    left: 16px;
    right: 16px;
    bottom: 2rem;
    z-index: 100;
}
.btnTxt{
    color:#ffffff;
}

.main p.ion-text-center{
    margin-bottom: 2rem;
}
