<ion-content id="container" no-scroll padding>

  <div class="main">
    <div class="navContainer">
      <ion-item lines="none" 
          color="transparent">
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/app/farmacia"
            text=""
            class="navIconBtn">
          </ion-back-button>
        </ion-buttons>
        <div id="logo">
          <ion-img src="/assets/tidulogowhite_s.png"></ion-img>
        </div>
        <ion-buttons slot="end">
          <ion-button routerLink="/app">
            <ion-icon 
              class="navIconBtn"
              slot="icon-only"
              name="home-outline" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div> <!-- navContainer -->

    <div id="cardContent">

      <div>
        <h2> MI CARRITO </h2>
        <ion-icon *ngIf="!isEmptyCart" (click)="emptyAlert()" class="empty-cart" name="trash-outline"></ion-icon>
      </div>

      

      <div class="title">
        <ion-text class="titulo"> Continuar compra </ion-text>
      </div>
     
      <div class="noItems ion-text-center" *ngIf="isEmptyCart">
        <ion-text  color="danger">
          <h4 > No se han agregado articulos al carrito </h4>
        </ion-text>
        <ion-text color="primary" routerLink="/app/farmacia/products">
          <h4>Ir a farmacia > </h4> 
        </ion-text>
      </div>

      <ion-list class="list" >
        <div *ngFor="let item of myCarrito || async " class="product-item" lines="none">

          <ion-thumbnail class="product-thumb" slot="start">
            <img [src]="item.fileName">
          </ion-thumbnail>
        
          <div class="product-dtl">
            <div class="product-desc">
              <div style="display: flex;">
                <ion-label style="float: left;"> {{ item.name }} </ion-label> 
                <ion-icon  (click)="itemContextual(item)" class="cart-icon" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </div>
              <ion-label class="subBody"> {{ item.description }} </ion-label> <br>
            </div> <!-- product-desc -->

            <div class="produc-prc">
              <ion-label class="item-price"> $ {{ item.price || async }} </ion-label> <br>
              <div>
                <div>
                  <ion-label class="subBody" style="font-size: 10px"> Envio gratis </ion-label>
                  <ion-label class="quantity"> Cantidad: {{ item.quantity || async }} </ion-label>
                </div>
                <!-- <div class="add-icon">
                  <ion-icon (click)="add_quantity()" name="chevron-up-outline"></ion-icon> <br>
                  <ion-icon (click)="remove_quantity()" name="chevron-down-outline"></ion-icon>
                </div> add-icon -->
              </div>
            </div> <!-- produc-prc -->
          </div> <!-- Product Detail -->
          <br>
        </div> <!--  Produc-item -->
      </ion-list>


      <hr class="priceDivider" *ngIf="!isEmptyCart">

      <div style="margin: 30px 20px;" *ngIf="!isEmptyCart" >

        <div style="font-size: 15px;">
          <ion-text style="color: #00b3bc;"> Productos ({{ itemsQty }}) </ion-text>
          <ion-text style="float:right"> ${{itemsTotal}} </ion-text>
        </div>

        <div style="font-size: 15px;">
          <ion-text style="color: #00b3bc;"> Envio al C.P 20010, monterrey </ion-text>
          <ion-text style="float:right"> ${{shiping}} </ion-text>
        </div>

        <div class="totals">
          <ion-text style="color: #00b3bc;"> Total </ion-text>
          <ion-text style="float:right; font-weight: bold;"> ${{ ordTotal }} </ion-text>
        </div>


        <div class="buttonAddCard">
          <div class="ux_button"
            routerLink="/app/farmacia/cart-checkout">
            <ion-text > Comprar </ion-text>
          </div>
        </div>

      </div>

    </div> <!-- cardContent -->
  
  </div> <!-- main -->

</ion-content> 



