#container{
    --background: url('/assets/appbackground.png') 0 0/100% 100% no-repeat ;
}
.main {
    padding: 14px;
    height: 80%;
}
.navContainer{
    padding-top: 1.5rem;
}
.navIconBtn{
    color: white;
}
#logo{
    width: 50%;
    margin: auto;
}
// contenido:
#avatar{
    width: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    position: relative;
    margin-top: 10px;
    z-index: 1;
}
ion-avatar{
    border:3px solid #00b3bc;
    width: 100%;
    height: 100%;
}
#cardContent{
    padding:100px 20px 20px 20px ;
    border:1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 30px;
    height: 95%;
    transform: translateY(-75px);
}

//titulo
.title{
    margin-left: 20px;;
}
.titulo{ 
    font-size: 25px;
    color: #014c68;
}
.underline{
    width: 150px;
}
.underline hr{
    background-color: #00b3bc;
    border: .5px solid #00b3bc;
    width: 100%;
}
// titulo

#cardContent .list{
    margin-top: 25px;
}