#cardContent{
    padding:20px 10px;
    height: 100%;
}

.titulo{ 
    font-size: 22px;
    color: #014c68;
}

#cardContent .list{
    margin-top: 25px;
}


div#cardContent .Visa{
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/visa_pay_m_cardicon_.png') center left no-repeat;
}
div#cardContent .MasterCard{
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/master_pay_m_cardicon_.png') center left no-repeat;
}
div#cardContent .cash{
    padding-left: 56px;
    padding-top: 5px;
    background: url('/assets/cash_pay_m_cardicon_.png') center left no-repeat;
}

.slotCard{
    border: 1px solid #c2c2c2;
    margin-bottom: 8px;
    height: 65px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    clear: both;
}
.efectivo{
    padding-left: 10px;
}

.iconBrand{
    float: left;
    height: 100%;
}

.cardNumber{
    float: left;
    height: 100%;
    vertical-align: middle;
    margin-left: 20px;
    padding-top: 16px;
    letter-spacing: 1px;
}

.iconRight{
    height: 100%;
    float: right;
}

.default{
    background-color: #04a5a8;
    color: #ffffff;
}